.article_header {
  font-family: "cheltenham";
  font-weight: 400;
  font-style: italic;
  font-size: 4rem;
}
.article_content img {
  margin-left: auto;
  height: auto;
  width: 50%;
  border-radius: 16px;
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 2rem;
}
.article_content iframe {
  margin-left: auto;
  width: 66rem;
  height: 600px;
  border-radius: 16px;
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 2rem;
}
.articleConta a {
  color: rgb(219, 51, 52);
  text-decoration: underline;
}

.pdfprnt-buttons,
aside {
  display: none;
}
#feature-bar {
  display: none;
}
.ksIMXk.grid-even-any {
  grid-template-columns: 50% auto;
}
.dEqBaI {
  grid-column: auto;
}

.dEqBaI {
  grid-column: auto;
}
.Byyns {
  text-transform: none;
  font-feature-settings: normal;
  font-style: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.33333em;
  font-size: 2rem;

  font-weight: 400;
  overflow-wrap: normal;
  color: rgb(26, 26, 26);
}
.jXvsWG.jXvsWG {
  --grid-gap: 1rem;
  --grid-margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
}
.akdGf {
  position: relative;
  margin-bottom: 1rem;
  border: 7px solid rgb(255, 53, 48);
  border-radius: 50%;
  padding-bottom: 1rem;
  width: 134px;
  height: 134px;
  text-align: center;
  color: rgb(255, 53, 48);
}
.bZHSGv {
  display: flex;
  flex-direction: column;
  margin: 0px;
  border-style: solid;
  padding: 0.75rem 0px;
  border-color: rgb(204, 204, 204);
  list-style: none;
  -moz-box-pack: center;
  justify-content: center;
  gap: 2rem;
  border-width: 0px;
}
.jXvsWG.jXvsWG {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-right: calc(1 * 4rem);
  padding-left: calc(1 * 4rem);
  margin: 0px auto;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1600px;
}
.iDMCxi {
  --type-token: globalEditorial.context-primary;
  text-transform: uppercase;
  font-family: Walfork, helvetica, sans-serif;
  font-feature-settings: normal;
  font-style: normal;
  letter-spacing: 0.06875em;
  line-break: auto;
  line-height: 1.33333em;
  font-size: 12px;
  font-weight: 600;
  overflow-wrap: normal;
  width: 134px;
  text-align: center;
  color: rgb(255, 53, 48);
}
.dBMsvl {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: rgb(255, 53, 48);
  --type-token: globalEditorial.numerical-large;
  text-transform: none;
  font-family: Walfork, helvetica, sans-serif;
  font-feature-settings: normal;
  font-style: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1em;
  font-size: 48px;
  font-weight: 600;
  overflow-wrap: normal;
}
@media (min-width: 768px) {
  .fLkIyA > .GridItem-buujkM {
    grid-column: 2 / -2;
  }
}
@media (min-width: 1280px) {
  .jXvsWG.jXvsWG {
    --grid-margin: 4rem;
  }
}
@media (min-width: 1024px) {
  .jXvsWG.jXvsWG {
    --grid-gap: 2rem;
  }
}
@media (min-width: 768px) {
  .bZHSGv {
    flex-flow: wrap;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border-width: 0px;
  }
}
.ZdQbv {
  align-self: center;
}
.kFTFiL {
  position: relative;
  margin-bottom: 1rem;
  border: 7px solid rgb(43, 43, 43);
  border-radius: 50%;
  padding-bottom: 1rem;
  width: 134px;
  height: 134px;
  text-align: center;
  color: rgb(43, 43, 43);
}
.wp-caption .wp-caption-text {
  margin: 2rem 0;
  font-size: 0.766666666666667rem;
  line-height: 1em;
  color: #888;
  text-align: left;
}
#vi-container {
  display: none;
}
.sc-78c33e9d-0.jUZeBo.sc-e4e160a2-9.brXXax,
.sc-72aef75a-0.hBZEaY.sc-6b84cff0-7.huhbvD,
.sc-aff9e536-0.iDJdmN {
  display: none;
}
[data-component="RecommendationBox"] {
  display: none;
}
.meta-channel--meinung,
.meta-channel--magazin,
.article__extra {
  display: none;
}

.imqiqZ {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: rgb(43, 43, 43);

  font-feature-settings: normal;
  font-style: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1em;
  font-size: 48px;
  font-weight: 600;
  overflow-wrap: normal;
}
.kFTFiL {
  text-align: center;
  color: rgb(43, 43, 43);
}
.ksIMXK {
  align-items: center;
}
.bZHSGv {
  display: flex;
  flex-direction: row;
  margin: 0px;
  border-style: solid;
  padding: 0.75rem 0px;
  --border-color__token-name: colors.consumption.body.standard.divider;
  border-color: rgb(204, 204, 204);
  list-style: none;
  -moz-box-pack: center;
  justify-content: center;
  border-width: 0px;
}
.MVQMg {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
@media (min-width: 1280px) {
  .hQJHAF.hQJHAF {
    --grid-margin: 4rem;
  }
}
@media (min-width: 1024px) {
  .hQJHAF.hQJHAF {
    --grid-gap: 2rem;
  }
}
footer {
  display: none;
}
.lfiqNF {
  display: flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  text-align: center;
}
.dcr-fckw05 ,.dcr-1fnjjtg/* for guardian */ {
  display: none;
}
[class*="offer"],
[id*="Banner"],
[id*="offer"],
[id*="ad_"],
[id*="ad-"],
[class*="ad-"],
[id*="_ad"],
[class*="_ad"],
[id*="-ad"],
[id*="badge"],
[class*="-share"],
[class*="advertisement"],
[class*="share_"],
[class*="_share"],
[class*="footer"],
[class*="share-"] {
  display: none;
}
.article_content button svg {
  display: none;
}

.articleConta em {
  font-weight: 700;
  color: rgb(22, 22, 22);
}
.articleConta p {
  margin-bottom: 1rem;
}
.pullquote {
  width: 60%;
  color: #7b3131;
  font-size: 3rem;
  padding: 3rem 0 3rem 0;
  text-align: center;
  display: flex;
  margin: auto;
}
/* bbc */
div[data-component="byline-block"],
div[data-component="ad-slot"],
div[data-component="tags"] {
  display: none;
}
.articleConta figure {
  display: none;
}
.sc-118zqaw-1.iAVdGx {
  /* for amazon ads */
  display: none;
}
.insert-post-ads {
  display: none;
}
.inner_wrapper.fullwidth > p {
  margin-bottom: 1rem;
}
.top-zin {
  z-index: 999999;
}
.highlight-red {
  background-color: rgba(185, 28, 28, 0.3) !important;
  text-decoration: underline !important;
  text-decoration-color: rgb(185, 28, 28) !important;
}

.highlight-orange {
  background-color: rgba(255, 165, 0, 0.3) !important;
  text-decoration: underline !important;
  text-decoration-color: orange !important;
}
.highlight-yellow {
  background-color: rgba(255, 255, 0, 0.3) !important;
  text-decoration: underline !important;
  text-decoration-color: yellow !important;
}

.highlight-blue {
  background-color: rgba(30, 144, 255, 0.3) !important;
  text-decoration: underline !important;
  text-decoration-color: blue !important;
}

.highlight-green {
  background-color: rgba(34, 139, 34, 0.3) !important;
  text-decoration: underline !important;
  text-decoration-color: green !important;
}
/* Add similar classes for other colors */
button[class^="highlight-"] {
  all: unset; /* Resets inherited button styles */
  display: inline;
  background: transparent; /* Ensures background doesn't block text styles */
  cursor: pointer;
}
div[data-sara-component] {
  display: none;
}
/* #spiegel-logo */
#vector-fc20cdf1-92af-4ea7-a691-770f9ec9929f {
  display: none;
}
.note-icon {
  width: 20px;
  display: inline !important;
}
.note-icon svg {
  display: inline !important;
  width: 20px;
  height: 15px;
}
h2 {
  font-size: 32px;
  line-height: 1.125em;
  margin: 16px 0px;
  margin-top: 16px;
  color: rgb(26, 26, 26);
  font-weight: 600;
}
.recirc-most-popular-wrapper {
  display: none;
}
hr {
  border: 0px;
  background: rgb(204, 204, 204);
  height: 2px;
  clear: both;
  margin: 40px auto;
}
[class*="ActionBarWrapperContent"] {
  display: none;
}
#goog_520105806,
.gv-7n-iwW-dockWrapper {
  display: none !important;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
.article_content svg:not(.note-icon svg) {
  display: none !important;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 12px;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
/* dw */

.s75t7t0 {
  display: none;
}
.article-highlight-navbar-tiny-thing-color {
  width: 4px;
  height: 28px;
  border-radius: 44px;
  margin-left: 0.5rem;
}

/* substack */
[class*="_subscribeDialog_"] {
  position: initial !important;
}
.subscription-widget-wrap {
  display: none;
}
[aria-label="View share options"] {
  display: none;
}
.pc-reset {
  text-decoration: unset;
  list-style: none;
}
.pc-display-flex {
  display: flex;
}
.pc-flexDirection-column {
  flex-direction: column;
}
._mdSquare_1cl67_47._mdSquare_1cl67_47._mdSquare_1cl67_47._mdSquare_1cl67_47._mdSquare_1cl67_47 {
  width: 140px;
  height: 140px !important;
  object-fit: cover;
}
._img_16u6n_1 {
  display: flex;
}
.articleConta form {
  display: none;
}
._signInLink_15pnt_57 {
  display: none;
}
.jw-preview.jw-reset {
  display: none;
}
[class*="jw"] {
  display: none;
}
